.info{
    margin-left: 50px;
    text-align: center;

    &__timer{
font-size: 30px;
        & span{
        }
    }

    &__btn{
        margin-top: 10px;
        padding: 5px 10px;
        border-radius: 20px;
        border: 1px solid black;
        font-size: 25px;
        background: none;
        outline: none;
        &:hover{
            background-color: rgba(255, 99, 71, 0.211);
        }
        &:active{
            background-color: rgba(255, 99, 71, 0.5);
        }
    }


}

.score{
    text-align: start;
    font-size: 25px;
}